<aside class="flex h-screen w-64 flex-col border-r border-slate-200 bg-white">

    <div class="border-b border-slate-200 p-6">
        <h1 class="text-2xl font-bold text-blue-600">
            ALIGN
        </h1>

        <p class="mt-1 text-sm text-slate-500">
            Restaurant OS
        </p>
    </div>

    <nav class="flex-1 p-4 space-y-2">

        <a href="/admin/dashboard.html"
        data-page="dashboard"
           class="block rounded-lg px-4 py-3 hover:bg-slate-100">
            🏠 Dashboard
        </a>

        <a href="#"
        data-page="Orders"
           class="block rounded-lg px-4 py-3 hover:bg-slate-100">
            🍽 Orders
        </a>

        <div>

    <p class="mb-2 px-4 text-xs font-semibold uppercase text-slate-400">
        Menu
    </p>

    <a
        href="/admin/categories.html"
        data-page="categories"
        class="mb-1 block rounded-lg px-4 py-3 hover:bg-slate-100">

        📂 Categories

    </a>

    <a
        href="/admin/menu-items.html"
        data-page="menu-items"
        class="block rounded-lg px-4 py-3 hover:bg-slate-100">

        🍽 Menu Items

    </a>

</div>

        <a href="#"
        data-page="Tables"
           class="block rounded-lg px-4 py-3 hover:bg-slate-100">
            🪑 Tables
        </a>

        <a href="#"
        data-page="Kitchen"
           class="block rounded-lg px-4 py-3 hover:bg-slate-100">
            👨‍🍳 Kitchen
        </a>

        <a href="#"
        data-page="Billing"
           class="block rounded-lg px-4 py-3 hover:bg-slate-100">
            💳 Billing
        </a>

        <a href="#"
        data-page="Settings"
           class="block rounded-lg px-4 py-3 hover:bg-slate-100">
            ⚙ Settings
        </a>

    </nav>

</aside>